<!-- <p>instr-dashboard works!</p> -->
<button name="createCourse" mat-raised-button color="primary"(click) = openModal()>
    <mat-icon>add</mat-icon>
    Create New Course
</button>

<mat-expansion-panel *ngIf="showDrafts" [expanded]="true" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
    <mat-panel-title >
        My Drafts
    </mat-panel-title>
    <!-- <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
    </mat-panel-description> -->
    </mat-expansion-panel-header>
    <div class="row card-group">
        <div class="col-4 course"  *ngFor="let course of unpublishedCourses">
            <mat-card (click) = "openCourse(course.ID, course.title)" class="example-card">
                <img mat-card-image src="assets/CourseImages/SE_img.png" alt="Course Image">
                <mat-card-title>{{course.title}}</mat-card-title>
                <!-- <mat-card-subtitle>{{course.title}}</mat-card-subtitle> -->
                <!-- <mat-card-content>
                    <p>{{course.createdAT}}</p>                
                </mat-card-content> -->
                <!-- <mat-card-footer>
                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                </mat-card-footer> -->
            </mat-card>         
        </div>
    </div>
</mat-expansion-panel>

<mat-expansion-panel *ngIf="showPublished" [expanded]="true" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
    <mat-panel-title >
        My Published Courses
    </mat-panel-title>
    <!-- <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
    </mat-panel-description> -->
    </mat-expansion-panel-header>
    <div class="row card-group">
        <div class="col-4 course"  *ngFor="let course of publishedCourses">
            <mat-card (click) = "openCourse(course.ID, course.title)" class="example-card">
                <img mat-card-image src="assets/CourseImages/SE_img.png" alt="Course Image">
                <mat-card-title>{{course.title}}</mat-card-title>
                <!-- <mat-card-subtitle>{{course.title}}</mat-card-subtitle> -->
                <!-- <mat-card-content>
                    <p>{{course.createdAT}}</p>                
                </mat-card-content> -->
                <!-- <mat-card-footer>
                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                </mat-card-footer> -->
            </mat-card>         
        </div>
    </div>
</mat-expansion-panel>

