
<div>
  {{courseTitle}}
</div>
<mat-sidenav-container class = "tp-container">
    <mat-sidenav mode = "side" opened>
       <section class = "tp-section">
         <a [routerLink]="'description'" mat-button routerLinkActive="active"> Description </a>
       </section>
       <section class = "tp-section">
         <a [routerLink]="'curriculum'" mat-button routerLinkActive="active"> Curriculum </a>
       </section>
    </mat-sidenav>
<mat-sidenav-content>
   <router-outlet></router-outlet>
</mat-sidenav-content>


