.tp-container {
    /* position: absolute; */
    /* top: 0; */
    /* bottom: 0; */
    /* left: 0; */
    /* right: 0; */
    height: 100%;
    background: #eee;
 }

 .tp-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    width:100%;   
    background-color: cornflowerblue;
    color: aliceblue;
 }

 mat-sidenav{
    width: 19%;
 }
