.tp-container {
    /* position: absolute; */
    /* top: 0; */
    /* bottom: 0; */
    /* left: 0; */
    /* right: 0; */
    height: 100%;
    background: #eee;
 }

 .tp-section, mat-expansion-panel-header {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    width:100%;   
    /* background-color: cornflowerblue; */
    background-color: #673ab7;
    color: aliceblue;
 }

 .moduleLink{
    display: flex;
 }

 .moduleItem{
   color: black;
   width: 100%;   
 }

 mat-button{
    width: 100% !important;
 }

mat-panel-title{
   color: #eee;
}

mat-sidenav{
    width: 30%;
}

.mat-success {
   background-color: green;
   color: #fff;
}

.container {
 height: 200px;
 position: relative;
}

.mat-icon{
   float: right;
   margin-top: 5px;  
   justify-self: end; 
}

.vertical-center {
 margin: 0;
 position: absolute;
 top: 50%;
 -ms-transform: translateY(-50%);
 transform: translateY(-50%);
}

#title{
   background-color: #e6b800;
   color: #eee;
   font-size: large;
   height: 60px;
   padding-bottom: 10px;
}

h1{
   padding-top: 10px;
   margin-left: 500px;
}
