<mat-toolbar color="primary">
    <mat-toolbar-row>

      <h1 [routerLink]="''">IRA</h1>
 
      <span class="example-spacer"></span>
      <span flex></span>

      <div>
        <app-search-box *ngIf="type!='instructor'"></app-search-box>
        <a *ngIf="type=='guest'" mat-button [routerLink]="'/studentLogin'" routerLinkActive="active-list-item"> Student Login</a>
        <a *ngIf="type=='guest'" mat-button [routerLink]="'/instructorLogin'" routerLinkActive="active-list-item"> Instructor Login</a>
        <a *ngIf="type=='student'" mat-button (click)="goToDashBoard()" routerLinkActive="active-list-item">My DashBoard</a>
        <a *ngIf="type=='instructor'" mat-button [routerLink]="'/instrDashboard'" routerLinkActive="active-list-item"> My Courses</a>     
        <a *ngIf="type!='guest'" mat-button (click)="logout()"> Logout</a>
      </div>
    </mat-toolbar-row>
  
  </mat-toolbar>