<div id="updateDesc" *ngIf="role=='instructor'" class="example-form-field" fxLayout="column" fxFill fxLayoutAlign="center center">

  <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Add/Edit course description</mat-label>
        <textarea matInput name="description" [(ngModel)]="description"></textarea>
      </mat-form-field>
      <button mat-stroked-button color="green" class="btn-block" name="updateDescription" (click)="updateDesc()">Update</button>
  </form>
</div>

<div id="textDesc" *ngIf="role!='instructor'">
  {{description}}
</div>



