name: ira

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Node enviroment
      uses: actions/setup-node@v2
      with:
        node-version: 'lts/fermium'
    - name: Set up Go environment
      uses: actions/setup-go@v2
      with:
        go-version: 1.17
    - name: Build Angular project
      run: |
        cd Frontend
        npm install
        ./node_modules/.bin/ng build
    - name: Build go project
      run: |
        cd backend
        go build
        tar -cvf build-file.tar ira
    - uses: actions/upload-artifact@v2
      with:
        name: build-file
        path: backend/build-file.tar

  api-testing:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install Newman (Command line collection runner) for API testing and htmlextra reporter
      run: |
        npm install -g newman
        npm install -g newman-reporter-htmlextra
    - uses: actions/download-artifact@v2
      with:
        name: build-file
        path: backend
    - name: Setup environment to run backend server
      run: |
        cd backend
        tar -xvf build-file.tar
        echo "SECRET_KEY=$SECRET_KEY" >> .env
        echo "AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID" >> .env
        echo "AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY" >> .env
        echo "AWS_REGION=$AWS_REGION" >> .env
        echo "AWS_BUCKET=$AWS_BUCKET" >> .env
    - name: API testing using Newman
      run: |
        cd backend
        ./ira &
        sleep 5
        newman run collections/StudentsCollection.json --reporters cli,htmlextra --reporter-htmlextra-export api-testing-report/students-collection.html
        newman run collections/InstructorsCollection.json --reporters cli,htmlextra --reporter-htmlextra-export api-testing-report/instructors-collection.html
        tar -cvf api-testing-report.tar api-testing-report
        kill -9 `lsof -i:8080 -t`
    - uses: actions/upload-artifact@v2
      with:
        name: api-testing-report
        path: backend/api-testing-report.tar
